<html>
  <body>
    <h1>Welcome to Dream Paradise!</h1>
    <p>Thanks for subscribing to our newsletter.</p>
    <p>You'll receive updates, deals, and hand-picked products straight to your inbox.</p>
    <hr />
    <p>If you wish to unsubscribe anytime, click <a href="{{unsubscribeUrl}}">here</a>.</p>
  </body>
</html>